server:
  port: 9001

spring:
  datasource:
    url: jdbc:mysql://host.docker.internal:3306/testdb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: 1290
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create-drop
  main:
    allow-circular-references: true

# Define the SecretKey property
SecretKey: 7e0adcd7872d2673cb9ef2c4122b67ebafc38fbc418989a1

auth:
  app:
    jwtCookieName: auth
    jwtSecret: ${SecretKey}
    jwtExpirationMs: 96400000
    jwtRefresh: 2592000000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health  # Fixed syntax error here